.maingrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: crimson;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 1rem 32, 1fr;
  grid-template-rows: repeat 32, 1fr;
  -ms-grid-columns: repeat 1rem 9, 1fr;
  grid-template-columns: repeat 9, 1fr;
  gap: 1rem;
  width: 80%;
  min-height: 200vh;
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main-grid-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.main-grid-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.main-grid-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main-grid-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main-grid-container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.main-grid-container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.main-grid-container > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.main-grid-container > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.main-grid-container > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.main-grid-container > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.main-grid-container > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.main-grid-container > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.main-grid-container > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.main-grid-container > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.main-grid-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/7/3;
}

.item2 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 8/1/15/3;
}

.item3 {
  -ms-grid-row: 16;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 16/1/23/3;
}

.item4 {
  -ms-grid-row: 24;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 24/1/32/3;
}

.item5 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-row-end: 6;
}

.item6 {
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 6;
  grid-row-end: 13;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-row-end: 6;
}

.item7 {
  -ms-grid-row: 14;
      grid-row-start: 14;
  -ms-grid-row-span: 8;
  grid-row-end: 22;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-row-end: 6;
}

.item8 {
  -ms-grid-row: 23;
      grid-row-start: 23;
  -ms-grid-row-span: 9;
  grid-row-end: 32;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-row-end: 6;
}

.item9 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 9;
  grid-row-end: 10;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-row-end: 9;
}

.item10 {
  -ms-grid-row: 11;
      grid-row-start: 11;
  -ms-grid-row-span: 6;
  grid-row-end: 17;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-row-end: 9;
}

.item11 {
  -ms-grid-row: 18;
      grid-row-start: 18;
  -ms-grid-row-span: 8;
  grid-row-end: 26;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-row-end: 9;
}

.item12 {
  -ms-grid-row: 119;
      grid-row-start: 119;
  -ms-grid-row-span: -87;
  grid-row-end: 32;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-row-end: 9;
}