header {
    height: 15vh;
    // margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
}

.nav {
    display: flex;
    // margin-right: 40px;
    // min-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    

    &__list {
        display: flex;
        flex-direction: row;  
        justify-content: space-evenly;
        width: 50% + 50%;
        align-items: center;
    }

    &__li {
        list-style: none;
    }

    &__link {
        text-decoration: none;
    }

}