.header {
    width: 100%;
    display: flex;   
    justify-content: center;    
    max-height: 20vh;
    padding-top: 2rem;    
   
}   
    .header__container {
        width: 90%;
        display: flex;
           
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .header__links a {
        text-decoration: none;
        padding: 1rem;   
        color: black;
    }




