$main-txt-color: black;

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: darkorange;

    &__heading {
        width: 50%;
        text-align: left;    
        color: blue;
        font-size: 22px; 
        font-weight: 700;  
    }

    &__info {
        text-align: left;
        font-size: 40px;
        line-height: 50px;
        width: 50%;
    }

    &__blue {
        color: blue;
    }
    
}