$main-txt-color: black;

.mainfirst {    
display: flex;   
justify-content: center;
width: 100%;
}

.mainfirst__container {
    width: 90%;        
}

.mainfirst__heading {      
    text-align: left;    
    color: blue;
    font-size: 1.5rem; 
    font-weight: 700;  
}

.mainfirst__info {
    text-align: left;
    font-size: 3rem;
    line-height: 3rem;
    width: 60%;      
}

.mainfirst__blue {
    color: blue;
}

