.project {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
}
.project__text {
    width: 50%;
}

.projects__container {
    width: 30%;    
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(7, 1fr);
} 

.item1 {
    grid-row-start: 1;
    grid-column-start: 1;  
    grid-row-end: 2;
    grid-column-end: 2;
}
.item2 {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 2;
    grid-column-end: 3;   
}
.item3 { 
    grid-row-start: 2;
    grid-column-start: 1; 
    grid-row-end: 3;
    grid-column-end: 2; 
}
.item4 { 
    grid-row-start: 2;
    grid-column-start: 2; 
    grid-row-end: 3;
    grid-column-end: 3; 
}

.item5 {
    grid-row-start: 3;
    grid-column-start: 1;    
    grid-row-end: 4;
    grid-column-end: 2;  
}
.item6 {        
    grid-row-start: 3;
    grid-column-start: 2; 
    grid-row-end: 4;
    grid-column-end: 3;
}
.item7 { 
    grid-row-start: 4;
    grid-column-start: 1; 
    grid-row-end: 5;
    grid-column-end: 2; 
}
.item8 {    
    grid-row-start: 4;
    grid-column-start: 2;  
    grid-row-end: 5;
    grid-column-end: 3; 
}

.item9 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2; 
}
.item10 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3; 
}
.item11 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
}
.item12 { 
    grid-row-start: 6;
    grid-column-start: 2; 
    grid-row-end: 7;
    grid-column-end: 3;
}

.project__mainimage {
    display: flex;
    justify-content: center;
}
.project__moreinfo {
    display: flex;
    justify-content:center ;
    width: 100%;
}
.project__moreinfo__text {
    margin: 2rem;
    text-align: left;
    width: 60%;
}
.project__mainimage img {
    width: 90%;
}
.project__imageslast {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.project__images {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.project__image {
    display: flex;
    object-fit: cover;
}

