.container {  
    display: flex; 
    position: relative;       
    background-color: #de31ee;
    width: 50% + 50%;
    text-align: center;

    .heading {
        width: 50%;
        text-align: left;
    }

    .links1 {
    text-align: left;
    width: 25%;
    text-decoration: none;
    }

    .links2 {
        text-align: left;
        width: 25%;
        }

    // .list1 {


    // }  
    
    // .list2 {

    // }

    .li {
        text-decoration: none;
        list-style: none;

    }









}
