.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.main .main__container {
  width: 90%;
  padding-bottom: 2rem;
}
.main__heading {
  text-align: left;
  color: blue;
  font-size: 22px;
  font-weight: 700;
}
.main__info {
  text-align: left;
  font-size: 40px;
  line-height: 50px;
  width: 60%;
}
.main__blue {
  color: blue;
}

.main-grid-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.maingrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 1rem 17, 1fr;
  grid-template-rows: repeat 17, 1fr;
  -ms-grid-columns: repeat 1rem 9, 1fr;
  grid-template-columns: repeat 9, 1fr;
  width: 90%;
  gap: 1rem;
}

.maingrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.maingrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.maingrid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.maingrid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.maingrid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.maingrid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.maingrid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.maingrid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.maingrid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.maingrid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.maingrid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.maingrid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.maingrid > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.maingrid > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.maingrid > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.maingrid > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.main-grid-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.item1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.item2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
}

.item3 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 4;
  grid-row-end: 8;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
}

.item4 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
}

.item5 {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.item6 {
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-row-span: 4;
  grid-row-end: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
}

.item7 {
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 4;
  grid-row-end: 12;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
}

.item8 {
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 13;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.item9 {
  -ms-grid-row: 10;
      grid-row-start: 10;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-row-span: 5;
  grid-row-end: 15;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
}

.item10 {
  -ms-grid-row: 12;
      grid-row-start: 12;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 6;
  grid-row-end: 18;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
}

.item11 {
  -ms-grid-row: 13;
      grid-row-start: 13;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 18;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.item12 {
  -ms-grid-row: 15;
      grid-row-start: 15;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-row-span: 3;
  grid-row-end: 18;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 20vh;
  padding-top: 2rem;
}

.header__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__links a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.maintextcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 50%;
  margin-right: 2rem;
  font-size: 22px;
}

.container-first-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  text-decoration: none;
  width: 25%;
}

.container-second-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  text-decoration: none;
  width: 25%;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  line-height: 23px;
}

.awardcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 5rem 4, 1fr;
  grid-template-rows: repeat 4, 1fr;
  -ms-grid-columns: 3fr 5rem 2fr 5rem 2fr 5rem 1fr;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  width: 90%;
  gap: 5rem;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.container__text > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container__text > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container__text > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.container__text > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.container__text > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container__text > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.container__text > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.container__text > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.container__text > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.container__text > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.container__text > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.container__text > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.container__text > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.container__text > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.container__text > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.container__text > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.text1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.text2 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.text3 {
  text-align: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text4 {
  text-align: center;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text5 {
  text-align: center;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text6 {
  text-align: center;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text7 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text8 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text9 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text10 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text11 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text12 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text13 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text14 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footercontainer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 70%;
}

.footercontainer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

body {
  font-family: "Mulish", sans-serif;
  width: 100%;
}